       /* common styles or utilities part start */
body{
    font-family: 'Luxurious Roman', cursive;
}
a{
    text-decoration: none;
    color:rgba(245, 245, 245, 0.616);
}
.black{
    background-color: #00091af1;
}
.package-col{
    color:#231D4F;
}
